.display-4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

form {
    border-width: 2px;
    border-style: solid;
    border-color: lightgrey;
    padding: 3px;
    font-family: 'Roboto', sans-serif;
    background-color:rgba(5,60,73,.2);

}

table {
    border-width: 2px;
    border-style: solid;
    border-color: lightblue;
    padding: 3px;
    background:rgba(5,60,73,.5);
    font-family: 'Roboto', sans-serif;

}

.jumbotron {
    background-color:rgba(5,60,73,1);
    color: white;
}

.card-header {
    background-color:rgba(5,60,73,1);
    color: white;
    font-family: 'Roboto', sans-serif;
    
}

